[user]
	name = Michael Dippery
	email = michael@monkey-robot.com
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[diff]
	renames = copies
[instaweb]
	httpd = webrick
[interactive]
	singlekey = true
[merge]
	tool = ksdiff
[pull]
	rebase = true
[push]
	default = simple
[rerere]
	enabled = true
[pager]
	stash = false
[alias]
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	ds = !git --no-pager diff --stat -M -w
	ga = log --graph --oneline --decorate --all
	gr = log --graph --oneline --decorate
	lf = log --pretty=format:"%C(yellow)%h\\ %Cgreen%ad%Creset\\ %s\\ %Cblue[%an]" --date=relative --numstat
	lm = log --no-merges
	ls = log --pretty=format:"%C(yellow)%h\\ %Cgreen%ad%Creset\\ %s\\ %Cblue[%an]" --date=relative
	ol = log --oneline --decorate
	rb = rebase
	ri = rebase -i
	rp = "!f() { for remote in $(git remote); do git remote prune $remote; done; }; f"
	ru = remote update
	sb = status -sb
	sh = show HEAD
	st = status
	up = pull --prune
	alias = !sh -c 'git config --get-regexp alias | cut -c 7-'
	authors = !sh -c 'git log --format="%aN" | sort -k 2 -u'
	changes = diff ORIG_HEAD..
	deleted = log --diff-filter=D --summary
	edits = diff --color-words
	fix = commit -a --amend
	hide = update-index --assume-unchanged
	info = config --list
	showtag = !sh -c 'git rev-parse $1 | xargs git cat-file -p' -
	stashed = stash list
	staged = diff --cached
	stats = !git --no-pager shortlog -ns
	tags = tag -n1 -l
	toss = checkout -- .
	#touched = log --name-only
	undo = reset HEAD .
	#unhide = update-index --no-assume-unchanged
	who = !git --no-pager shortlog -sn --no-merges
	whoami = !git config --get user.name && git config --get user.email

[include]
	path = ~/.gitconfig.user

# Added by Kaleidoscope
[difftool "ksdiff"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "ksdiff"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
