[user]
	name = Michael Dippery
	email = michael@monkey-robot.com
[core]
	excludesfile = ~/.config/git/ignore
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[log]
	; abbrevcommit = true
	decorate = no
[diff]
	renames = copies
[diff "json"]
	textconv = jq '.'
[instaweb]
	httpd = webrick
[interactive]
	singlekey = true
[fetch]
	prune = true
[pull]
	rebase = true
[push]
	default = simple
[rebase]
	autostash = true
[rerere]
	enabled = true
[pager]
	branch = false
	tag = false
	who = false
[alias]
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	ds = !git --no-pager diff --stat -M -w
	ga = log --graph --oneline --decorate --exclude=refs/stash --exclude='refs/notes/*' --exclude='refs/original/*' --all
	gr = log --graph --oneline --decorate
	ld = log --pretty=format:"%C(yellow)%h\\ %Cgreen%ad%Creset\\ %s\\ %Cblue[%an]" --date=short
	lf = log --pretty=format:"%C(yellow)%h\\ %Cgreen%ad%Creset\\ %s\\ %Cblue[%an]" --date=relative --name-status
	ls = log --pretty=format:"%C(yellow)%h\\ %Cgreen%ad%Creset\\ %s\\ %Cblue[%an]" --date=relative
	ol = log --oneline --decorate
	ra = rebase -i --autosquash
	rb = rebase
	ri = rebase -i
	rv = revert
	sb = status -sb
	sh = show HEAD
	st = status
	alias = "!f() { git config --get-regexp alias | cut -c 7- | sed \"s/ /$(echo 2B | xxd -r -p)/\" | column -t -s $(echo 2B | xxd -r -p); }; f"
	authors = !sh -c 'git log --format="%aN" | sort -k 2 -u'
	changed = diff ORIG_HEAD..
	deleted = log --diff-filter=D --summary
	edits = diff --color-words
	fix = commit -a --amend --no-edit
	hide = update-index --assume-unchanged
	info = config --list
	nuke = !sh -c 'git reset --hard HEAD~$1' -
	on = rev-parse --abbrev-ref HEAD
	showtag = !sh -c 'git rev-parse $1 | xargs git cat-file -p' -
	staged = diff --cached
	stashed = !git --no-pager stash list
	tags = tag -n1 -l
	trash = !git reset HEAD . && git checkout -- . && echo 'Undid all changes'
	type = cat-file -t
	unstage = reset HEAD .
	which = branch --contains
	who = shortlog -sn --no-merges
	whoami = !git config --get user.name && git config --get user.email

[include]
	path = ~/.gitconfig.user
