[submodule "vim/.vim/bundle/vim-clojure-static"]
	path = vim/.vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/seoul256.vim"]
	path = vim/.vim/bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/bundle/haskell-vim"]
	path = vim/.vim/bundle/haskell-vim
	url = https://github.com/raichoo/haskell-vim.git
[submodule "vim/.vim/bundle/nginx.vim"]
	path = vim/.vim/bundle/nginx.vim
	url = https://github.com/vim-scripts/nginx.vim.git
